body {
  margin: 0;
  font-family: 'Montserrat', 'sans-serif';
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/nature_8.jpg");
}
.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas:
  "h h h"
  ". m .";

}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-area: h;
  font-family: 'Montserrat', 'sans-serif';
  color: #85DCBA;

}
#title {
  color: #E3AFBC;
  margin-left: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
#title h1{
  margin-right: 10px;
}
#title p{
  padding-bottom: 10px;
}
#home {
  align-self: center;
  font-size: 2em;
  margin-right: 1em;
  padding: 0.2em;
  text-decoration: none;
  color: #861657;;
}
main {
  grid-area: m;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#content {
  border: solid;
  border-color: #FDE8E9;
  width: 50%;
  text-align: center;
  height: 100%;
  color: white;
  border-radius: 1em;
}
#content h3 {
  font-size: 2em;
  color: #DCABDF;
}
a {
  color: inherit;
}
