body, html {
    height: 100%;
    margin: 0;
}

/* The hero image */
.container {
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr;
  grid-template-areas:
  "h"
  "main";
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/nature_7.jpg");

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-family: 'Montserrat', 'sans-serif';
}

header {
  grid-area: h;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  color: #E3AFBC;
}
#big {
  margin-left: 0.1em;
  padding-left: 0px;
  margin-bottom: 0px;

}
#big h1 {
  text-align: left;
  font-size: 3em;
  margin-top: 0px;
  margin-bottom: 0px;
}
#big p {
  margin-top: 0px;
  font-size: 0.8em;
}

#username {
  font-size: 1em;
}
#home {
  color: #8FC1E3;
  align-self: flex-start;
  margin-top: 0.2em;
  font-size: 2.5em;
  margin-right: 0.2em;
}

main {
  grid-area: main;
  color: #F7F9FB;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#profbox {
  border-radius: 10%;
  margin: auto;
  padding: 64px 128px
}

#buttons {
  background-color: #E7717D; /*orange  E8A87C  */ /*pink   E3AFBC */
  border-radius: 10%;
  margin: auto;
  padding: 16px 32px
}

main p, h1 {
  text-align: center;
}

button {
  margin-top: 2px;
  margin-bottom: 10px;
  font-family: 'Montserrat', 'sans-serif';
  font-size: 15px;
  height: 50px;
  width: 250px;
  border-radius: 25px;

}

button:hover {
  background-color: #8FC1E3; /*blue 8FC1E3 */
  /*border: 1px solid #8FC1E3;*/
  color: white;
}

a {
  color: inherit;
}
