body, html {
    height: 100%;
    margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas:
  "h"
  "main";
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/nature_6.jpg");

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-family: 'Montserrat', 'sans-serif';
}

header {
  grid-area: h;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  color: #E3AFBC;
}

#big {
  margin-left: 0.1em;
  margin-bottom: 0px;
}
#big h1 {
  font-size: 3em;
  margin-top: 0px;
  margin-right: 0.2em;
  margin-bottom: 0px;
}
#big p {
  margin-top: 0px;
  font-size: 0.8em;
}

#home {
  align-self: flex-start;
  margin-top: 0.2em;
  font-size: 2.5em;
  margin-right: 0.2em;
  color: #861657;
}

main {
  grid-area: main;
  color: #F7F9FB;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  border: 1px solid white;
}

h3 {
  text-decoration: underline;
  font-size: 1.5em;
}

textarea {
  margin-top: 2px;
  margin-bottom: 10px;
  font-family: 'Montserrat', 'sans-serif';
  resize: none;
  border-radius: 5px;
}

input {
  margin-top: 2px;
  margin-bottom: 10px;
  font-family: 'Montserrat', 'sans-serif';
  border-radius: 5px;
}

button {
  margin-top: 2px;
  margin-bottom: 10px;
  font-family: 'Montserrat', 'sans-serif';
  font-size: 15px;
}

button:hover {
  background-color: #8FC1E3;
  border: 1px solid #8FC1E3;
  color: white;
}
