body, html {
    height: 100%;
    margin: 0;
}

/* The hero image */
.container {
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr;
  grid-template-areas:
  "h"
  "main";
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/nature_7.jpg");

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-family: 'Montserrat', 'sans-serif';
}

header {
  grid-area: h;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  color: #F7F9FB;
}
#big {
  color: #E8A87C;
  margin-left: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
}
#big h1 {
  margin-right: 0.2em;

}
#usr {
  font-size: 3em;
  margin-right: 0.2em;
  margin-top: 0.2em;
  color: #8FC1E3;
}
#username {
  font-size: 1em;

}

main {
  grid-area: main;
  color: #F7F9FB;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#profbox {
  background-color: #E8A87C;
  border-radius: 10%;
  margin: auto;
  padding: 16px 32px
}

main p, h1 {
  text-align: center;
}

main button {
  margin-left: 30%;
  background-color: #F7F9FB;
  border: none;
  color:  #E8A87C;
  padding: 10px 16px;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20%
}
main button:hover {
  background-color: #8FC1E3;
  color:  #F7F9FB;
}

a {
  color: inherit;
}
